<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Posts</h1>
  <% @posts.each do |post| %>
    <div class="card" style="margin-bottom: 20px; padding: 20px; border: 1px solid #ddd;">
      <table>
        <tr>
          <td style="vertical-align: top;">
            <p><%= post.created_at.strftime("%d.%m.%Y, %H:%M") %></p>
            <h2><%= link_to post.title, post, class: 'post-title-link' %></h2>
            <p><%= pluralize(post.views, "view") %> · <%= pluralize(post.likes, "like") %></p>
            <%# <div>
              link_to 'Show this post', post
            </div> %>
          </td>
          <% if post.image.attached? %>
            <td style="padding-left: 20px; text-align: right;">
              <%= image_tag(post.image, style: "width: 150px; height: auto;") %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
  <% end %>
  <%= link_to 'New Post', new_post_path %>
</div>


<style>
  .post-title-link {
    color: black;
    text-decoration: none; /* убираем подчеркивание */
  }
</style>
